doctype html
html
  head
    //meta
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='keywords', content='blank, starter')

    //title
    title SMX - #{title}

    //fonts
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    //stylesheet
    link(rel='stylesheet', href='css/style.min.css', type='text/css')
    link(rel='stylesheet', href='css/app.min.css', type='text/css')
    link(rel='stylesheet', href='css/core.min.css', type='text/css')

    //favicon
    <link rel='apple-touch-icon' href='img/inalambria-favicon.png'>
    <link rel='icon' href='img/inalambria-favicon.png'>
  body

    .preloader
      .spinner-dots
        span.dot1
        span.dot2
        span.dot3

    //sidebar
    
    