doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Responsive admin dashboard and web application ui kit. ')
    meta(name='keywords', content='blank, starter')
    title SMX - Reporte Campaña
    // Fonts
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i', rel='stylesheet')
    // Styles
    link(href='assets/css/core.min.css', rel='stylesheet')
    link(href='assets/css/app.min.css', rel='stylesheet')
    link(href='../../static/css/style.min.css', rel='stylesheet')
    // Favicons
    link(rel='apple-touch-icon', href='assets/img/inalambria-favicon.png')
    link(rel='icon', href='assets/img/inalambria-favicon.png')
  body
    .cust-background-color