extends layout.pug

block content
    main.main-container
      .main-content.cust-content-top-padding
        div(align='center')
          h1.cust-color-title
            strong Reporte Campaña jenn prueba
        .divider  
        .row
          .col-md-4.col-lg-3
            .card
              .card-header
                h4.card-title Hoy
              .card-body.card-body
                .text-center.py-20
                  div(data-provide='peity', data-type='pie', data-size='100', data-inner-radius='30', data-fill='#15C377,#48B0F7,#FCC525') 46,50,12
                ul.flexbox.flex-justified.text-center.mt-30
                  if isCall
                    li.br-1.botder-light
                      .fs-20.cust-green-color 46
                      small Recibidos
                  li.br-1.botder-light
                    .fs-20.cust-blue-color 50
                    small Enviados
                  li
                    .fs-20.cust-yellow-color 12
                    small Abiertos
                hr.cust-hr-margin
                ul.list-inline
                  if isCall
                    div
                      li.flexbox.mb-1
                        div
                          span Descargar Enviados/Recibidos
                      li.flexbox.mb-1
                        div
                          span.badge.badge-dot.badge-lg.mr-1(style='background-color: #46be8a')
                          span
                            strong
                              a.cust-a-color(href='') CSV
                          span.cust-span-margin-right
                          span.badge.badge-dot.badge-lg.mr-1(style='background-color: #46be8a')
                          span
                            strong
                              a.cust-a-color(href='') XLSX
                  li.flexbox.mb-1
                    div
                      span Descargar Recibidos
                  li.flexbox.mb-1
                    div
                      span.badge.badge-dot.badge-lg.mr-1(style='background-color: #46be8a')
                      span
                        strong
                          a.cust-a-color(href='') CSV
                      span.cust-span-margin-right
                      span.badge.badge-dot.badge-lg.mr-1(style='background-color: #46be8a')
                      span
                        strong
                          a.cust-a-color(href='') XLSX
          .col-md-4.col-lg-3
            .card
              .card-header
                h4.card-title Esta semana
              .card-body.card-body
                .text-center.py-20
                  div(data-provide='peity', data-type='pie', data-size='100', data-inner-radius='30', data-fill='#15C377,#48B0F7,#FCC525') 157,162,33
                ul.flexbox.flex-justified.text-center.mt-30
                  li.br-1.botder-light
                    .fs-20.cust-green-color 157
                    small Recibidos
                  li.br-1.botder-light
                    .fs-20.cust-blue-color 162
                    small Enviados
                  li
                    .fs-20.cust-yellow-color 33
                    small Abiertos
                hr.cust-hr-margin
                ul.list-inline
                  li.flexbox.mb-1
                    div
                      span Descargar Enviados/Recibidos
                  li.flexbox.mb-1
                    div
                      span.badge.badge-dot.badge-lg.mr-1(style='background-color: #46be8a')
                      span
                        strong
                          a.cust-a-color(href='') CSV
                      span.cust-span-margin-right
                      span.badge.badge-dot.badge-lg.mr-1(style='background-color: #46be8a')
                      span
                        strong
                          a.cust-a-color(href='') XLSX
                  li.flexbox.mb-1
                    div
                      span Descargar Recibidos
                  li.flexbox.mb-1
                    div
                      span.badge.badge-dot.badge-lg.mr-1(style='background-color: #46be8a')
                      span
                        strong
                          a.cust-a-color(href='') CSV
                      span.cust-span-margin-right
                      span.badge.badge-dot.badge-lg.mr-1(style='background-color: #46be8a')
                      span
                        strong
                          a.cust-a-color(href='') XLSX
          .col-md-4.col-lg-3
            .card
              .card-header
                h4.card-title Este mes
              .card-body.card-body
                .text-center.py-20
                  div(data-provide='peity', data-type='pie', data-size='100', data-inner-radius='30', data-fill='#15C377,#48B0F7,#FCC525') 953,813,369
                ul.flexbox.flex-justified.text-center.mt-30
                  li.br-1.botder-light
                    .fs-20.cust-green-color 953
                    small Recibidos
                  li.br-1.botder-light
                    .fs-20.cust-blue-color 813
                    small Enviados
                  li
                    .fs-20.cust-yellow-color 69
                    small Abiertos
                hr.cust-hr-margin
                ul.list-inline
                  li.flexbox.mb-1
                    div
                      span Descargar Enviados/Recibidos
                  li.flexbox.mb-1
                    div
                      span.badge.badge-dot.badge-lg.mr-1(style='background-color: #46be8a')
                      span
                        strong
                          a.cust-a-color(href='') CSV
                      span.cust-span-margin-right
                      span.badge.badge-dot.badge-lg.mr-1(style='background-color: #46be8a')
                      span
                        strong
                          a.cust-a-color(href='') XLSX
                  li.flexbox.mb-1
                    div
                      span Descargar Recibidos
                  li.flexbox.mb-1
                    div
                      span.badge.badge-dot.badge-lg.mr-1(style='background-color: #46be8a')
                      span
                        strong
                          a.cust-a-color(href='') CSV
                      span.cust-span-margin-right
                      span.badge.badge-dot.badge-lg.mr-1(style='background-color: #46be8a')
                      span
                        strong
                          a.cust-a-color(href='') XLSX
          .col-md-4.col-lg-3
            .card
              .card-header
                h4.card-title Desde el inicio
              .card-body.card-body
                .text-center.py-20
                  div(data-provide='peity', data-type='pie', data-size='100', data-inner-radius='30', data-fill='#15C377,#48B0F7,#FCC525') 1476,1500,129
                ul.flexbox.flex-justified.text-center.mt-30
                  li.br-1.botder-light
                    .fs-20.cust-green-color 1476
                    small Recibidos
                  li.br-1.botder-light
                    .fs-20.cust-blue-color 1500
                    small Enviados
                  li
                    .fs-20.cust-yellow-color 129
                    small Abiertos
                hr.cust-hr-margin
                ul.list-inline
                  li.flexbox.mb-1
                    div
                      span Descargar Enviados/Recibidos
                  li.flexbox.mb-1
                    div
                      span.badge.badge-dot.badge-lg.mr-1(style='background-color: #46be8a')
                      span
                        strong
                          a.cust-a-color(href='') CSV
                      span.cust-span-margin-right
                      span.badge.badge-dot.badge-lg.mr-1(style='background-color: #46be8a')
                      span
                        strong
                          a.cust-a-color(href='') XLSX
                  li.flexbox.mb-1
                    div
                      span Descargar Recibidos
                  li.flexbox.mb-1
                    div
                      span.badge.badge-dot.badge-lg.mr-1(style='background-color: #46be8a')
                      span
                        strong
                          a.cust-a-color(href='') CSV
                      span.cust-span-margin-right
                      span.badge.badge-dot.badge-lg.mr-1(style='background-color: #46be8a')
                      span
                        strong
                          a.cust-a-color(href='') XLSX
        .card
          .card-title
            .btn-group
              button#btnDrop.btn.btn-light.dropdown-toggle.cust-btn-width(type='button', data-toggle='dropdown', aria-expanded='false')
                i.icon.ti-stats-up
                | Selecciona el periodo
              .dropdown-menu.dropdown-menu-right(x-placement='bottom-end', style='position: absolute; will-change: top, left; top: 36px; left: 144px;')
                a.dropdown-item(href='#', onclick="myFunction('Hoy')") Hoy
                a.dropdown-item(href='#', onclick="myFunction('Esta semana')") Esta Semana
                a.dropdown-item(href='#', onclick="myFunction('Este Mes')") Este Mes
          .card-body
            canvas#chart-line-4(width='400', height='150')
      // /.main-content
      // Footer
      footer.site-footer
        .row
          .col-md-6
            p.text-center.text-md-left
              | SMX - Copyright © 
              a(href='http://thetheme.io/theadmin') Inalambria Internacional. 
              |  Todos los derechos reservados.
          .col-md-6
            ul.nav.nav-primary.nav-dotted.nav-dot-separated.justify-content-center.justify-content-md-end
              li.nav-item
                a.nav-link(href='https://www.inalambria.com/') Página principal
      // END Footer
      // END Main container
      // Scripts
      script(src='js/core.min.js', data-provide='chartjs')
      script(src='js/app.min.js')
      script(src='js/script.min.js')
      script.
        function myFunction(option) {
        var mainbtn = document.getElementById("btnDrop");
        mainbtn.innerText = option;
        }
        app.ready(function() {
        // ==============================================
        // Line chart 4
        //
        new Chart($("#chart-line-4"), {
        type: 'line',
        // Data
        //
        data: {
        labels: ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"],
        datasets: [{
        label: "Recibidos",
        fill: false,
        borderWidth: 3,
        pointRadius: 4,
        borderColor: "#15C377",
        backgroundColor: "#15C377",
        pointBackgroundColor: "#15C377",
        pointBorderColor: "#15C377",
        pointHoverBackgroundColor: "#fff",
        pointHoverBorderColor: "#15C377",
        data: [30, 12, 20, 31, 28, 25, 18]
        }, {
        label: "Enviados",
        fill: false,
        borderWidth: 3,
        pointRadius: 4,
        borderColor: "#48B0F7",
        backgroundColor: "#48B0F7",
        pointBackgroundColor: "#48B0F7",
        pointBorderColor: "#48B0F7",
        pointHoverBackgroundolor: "#fff",
        pointHoverBorderColor: "#48B0F7",
        data: [22, 35, 38, 13, 27, 40, 24]
        }, {
        label: "Abiertos",
        fill: false,
        borderWidth: 3,
        pointRadius: 4,
        borderColor: "#FCC525",
        backgroundColor: "#FCC525",
        pointBackgroundColor: "#FCC525",
        pointBorderColor: "#FCC525",
        pointHoverBackgroundColor: "#fff",
        pointHoverBorderColor: "#FCC525",
        data: [23, 29, 30, 33, 20, 10, 16]
        }]
        },
        // Options
        //
        options: {}
        });
        });
